.games-page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 1rem;
  color: white;
  background-color: #111827;
  min-height: calc(100vh - 68px); /* Full height minus navbar */
}

.games-page-title {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
}

.games-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .games-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .games-grid-container {
    grid-template-columns: 1fr;
  }
}